root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# `caddy fmt` indents with tabs and there's no option to change that
[caddy-files/{Caddyfile,config/*,snippets/*}]
indent_style = tab
